.v-snack__wrapper {
    min-width: auto;
}

.app-main-header > .v-toolbar__content {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.app-main-club-tab-header > .v-slide-group__content {
    height: 40px !important;
}

.theme--light.v-app-bar.v-toolbar.v-sheet {
    background-color: #ffffff !important;
}

.club-main-tab {
    .v-slide-group__prev {
        display: none !important;
    }

    .v-tab {
        min-width: 0;
    }

    .v-tabs-slider-wrapper {
        width: 0;
    }
}

.club-search-bar {
    margin-right: 3px;
    //margin-bottom: 10px;

    .v-input__prepend-outer {
        margin-top: 10px
    }

    .v-text-field__details {
        display: none;
    }
}

.club-meeting-create-page-body {
    .club-meeting-create-page-body__content {
        .v-text-field__details {
            display: none;
        }
    }
}

.image-dialog-wrapper {
    .v-carousel__item {
        height: 100% !important;
    }
}
