.v-snack__wrapper {
    min-width:auto;
}

.app-main-header > .v-toolbar__content {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.app-main-club-tab-header > .v-slide-group__content {
    height: 40px !important;
}

.theme--light.v-app-bar.v-toolbar.v-sheet {
    background-color: #ffffff !important;
}
